.home_detail{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica", serif;
  color: white;
  overflow: hidden;
  header{
    display: inline-flex;
    height: 60px;
    width: calc(100% - 80px);
    align-items: center;
    border-bottom: 1px solid #232527;
    position:fixed;
    z-index: 9;
    background: #1E2022;
    top: 0;
    left: calc(80px);
    .home_detail_logo{
      color: #D34E7E;
      margin-left: 30px;
    }
    .home_detail_menu,.home_detail_menu_activity{
      margin-left: 30px;
      cursor: pointer;
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      span:nth-child(2){
        width: 20px;
        margin-top: 7px;
        border-bottom: 3px solid transparent;
      }
      &.home_detail_menu_activity:nth-child(3){
        span:nth-child(2){
          width: 30px;
          margin-left: 20px;
        }
      }

      &.home_detail_menu_activity:nth-child(4){
        span:nth-child(2){
          width: 50px;
        }
      }
    }
    .home_detail_menu_activity{
      color: #D34E7E;
      span:nth-child(2){
        border-bottom: 3px solid #D34E7E;
      }
    }
  }

  .home_detail_main{
    width: calc(100% - 80px);
    height: calc(100vh - 70px);

    overflow-y: scroll;
    position: absolute;
    left: 80px;
    top: 65px;

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .home_detail_items{
      box-sizing: border-box;
      flex: 0 0 23%;
      writing-mode: horizontal-tb;
      height: 220px;
      background: transparent;
      margin: 20px 10px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      transform: translate(.5px, 0);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .home_detail_item_cover>img{
          vertical-align: middle;
          display: table-cell;
          height: 140px;
          width: 100%;
          border-radius: 10px;
          &:hover{
            transition: transform 300ms ease-in-out;
            transform: scale(1.05);
          }
      }
      .home_detail_item_desc{
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 0 5px;
        font-size: 15px;
        &:hover{
          color: #D34E7E;
        }
      }
      .home_detail_items_tags{
        font-size: 12px;
        margin-top: 10px;
        font-weight: normal;
        display: flex;
        color: #757A81;
        .home_detail_items_tags_logo{
          vertical-align: middle;
          color: #ce4d7a;
          margin-right: 5px;
          margin-bottom: 2px;
        }
        span:nth-child(2){
          margin-left: 10px;
        }
      }
    }
  }
}