.movie_scroll {
  display: flex;
  flex-direction: column;
  .movie_content {
    width: calc(100% - 80px);
    height: calc(100vh - 120px);

    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    left: 70px;
    top: 65px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .movie_detail_items {
      flex: 1 0;
      width: calc((100% - 190px) / 6);
      min-width: calc((100% - 190px) / 6);
      max-width: calc((100% - 190px) / 6);

      &:nth-child(5n + 5) {
        margin-right: 0;
      }

      height: 380px;


      box-sizing: content-box;
      writing-mode: horizontal-tb;
      margin: 10px 20px 10px 10px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      transform: translate(.5px, 0);
      cursor: pointer;

      .movie_detail_item_cover > img {
        vertical-align: middle;
        display: table-cell;
        height: 290px;
        width: 100%;
        border-radius: 10px;

        &:hover {
          transition: transform 300ms ease-in-out;
          transform: scale(1.05);
        }
      }

      .movie_detail_item_desc {
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: 10px;
        padding: 0 5px;
        font-size: 15px;

        &:hover {
          color: #D34E7E;
        }
      }

      .movie_detail_items_tags {
        font-size: 12px;
        margin-top: 10px;
        font-weight: normal;
        display: flex;
        color: #757A81;
        flex-direction: column;

        .movie_detail_items_tags_logo {
          vertical-align: middle;
          color: #ce4d7a;
          margin-right: 5px;
          margin-bottom: 2px;
        }

        .movie_detail_items_tags_time {
          color: #d34e7e;
        }

        &.movie_detail_items_tags > span:nth-child(2) {
          display: flex;

          .movie_detail_items_tags_time_time {
            margin-top: 2px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .scroll_bottom {
    height: 30px;
    width: 90vw;
    z-index: 999;
    margin-left: 100px;
    position: fixed;
    bottom: 20px;
    text-align: center;
  }
  .scroll_bottom_hidden{
    display: none;
    visibility: hidden;
  }
}